.card {
  --card-width: 320px;
  --card-height: calc(var(--card-width) * 0.75);
  --card-padding: 16px;
  
  --card-background: #202020;
  --card-lighter-background: color-mix(
    in srgb,
    var(--card-background) 5%,
    black
  );

  background: radial-gradient(
    circle at top left,
    var(--card-lighter-background),
    var(--card-background)
  );  

  width: var(--card-width);
  height: var(--card-height);
  padding: var(--card-padding);
  border-radius: var(--card-padding);
  
  box-shadow: 0 0 0 1px #1f1f1f;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;                 
}

.icon {
  --card-icon-color: #46fd8f;
  color: var(--card-icon-color);
  font-size: 32px;
 
}

.title {
  color: var(--foreground);
  font-size: 16px;
}

.link {
  --card-icon-color: #46fd8f;
  color: var(--card-icon-color);
  text-decoration: none;
  display: flex;
  gap: 6px;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.baixo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
