.card {
  --card-shadow: #1f1f1f;
  --card-width: 320px;
  --card-height: calc(var(--card-width) * 0.75);
  --card-padding: 16px;
  
  --card-background: #1a1a1a;
  --card-lighter-background: color-mix(
    in srgb,
    var(--card-background) 5%,
    #0b0b0b
  );

  background: radial-gradient(
    circle at top left,
    var(--card-lighter-background),
    var(--card-background)
  );  

  width: var(--card-width);
  height: var(--card-height);
  padding: var(--card-padding);
  border-radius: var(--card-padding);
  
  box-shadow: 0 0 0 1px var(--card-shadow);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  gap: 4px;
  
  position: relative;
  cursor: pointer;
  transition-duration: 300ms;
}

.card:hover {
  transform: scale(0.96);
  box-shadow: 0 0 12px var(--card-shadow);
}

.iconWrapper {}

.icon {
  --card-icon-color: #00451f;
  display: inline-block;
  position: relative;
  transition-duration: 300ms;
  transform-origin: center;
  color: var(--card-icon-color);
  font-size: 32px;
}
.icon::after {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(-100%);
  background-color: var(--card-icon-color);
  filter: blur(12px) opacity(0.17);
  width: 100%;
  height: 100%;
}

.card:hover .icon {
  transform: scale(1.1);
}

.title {
  color: var(--foreground);
  font-size: 16px;
}

.link {
  --card-icon-color: #00a349;
  color: var(--card-icon-color);
  text-decoration: none;
  display: flex;
  gap: 6px;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.baixo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
