.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
  padding: .5rem 2rem;

  /* remove later */
  background-color: white;
  outline: 1px solid black;
}

.title {
  color: var(--brand-color);
}

.actions {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 2rem;
}

.iconBtn {
  height: max-content;
  padding: .3rem;
  border-radius: 50%;
  line-height: 0;
}

.getStartedBtn {
  background-color: var(--highlight-color);
  padding: .3rem 1rem;
  border-radius: .5rem;
  font-weight: 600;
  transition: background-color .2s ease;

  &:hover {
    background-color: var(--hover-color);
  }
}
