.header {
  display: grid;
  grid-template-areas: "logo actions nav";
  grid-template-columns: 1fr max-content max-content;
  gap: 2rem;
  align-items: center;
  max-width: 120rem;
  padding: .5rem 2rem;
  margin-inline: auto;
  background-color: var(--frame-background);
  color: var(--frame-foreground);
}

@media (width >= 1024px) {
  .header {
    grid-template-areas: "logo nav actions";
    grid-template-columns: repeat(3, 1fr);
  }
}

.logoContainer {
  grid-area: logo;
}

.logoLink {
  display: flex;
  align-items: center;
  gap: .5rem;
  text-decoration: none;
}

.title {
  color: var(--brand-color);
}

.actions {
  grid-area: actions;
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 1rem;
}

.iconBtn {
  height: max-content;
  padding: .3rem;
  border-radius: 50%;
}

:global(.getStartedLink) {
  padding: .3rem 1rem;
  border-radius: .5rem;
  text-decoration: none;
  font-weight: 600;
  color: currentColor;
  background-color: var(--highlight-color);
  transition: background-color .2s ease;

  @media (hover: hover) {
    &:hover {
      background-color: var(--hover-color);
    }
  }
}

.headerGetStartedLink {
  display: none;
}

@media (width >= 640px) {
  .headerGetStartedLink {
    display: inline-block;
  }
}
