.mobileMenu {
  position: fixed;
  z-index: 1;
  top: var(--header-height, 0);
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  padding: 2rem 8vw;
  transition: transform .3s ease-out;
  background-color: var(--frame-background);
  color: var(--frame-foreground);

  &.active {
    transform: translateX(0);
  }
}

.mobileMenu li {
  list-style-type: none;
}

.mobileMenuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: max-content;
}
