.navBarMenu {
  grid-area: nav;
  display: flex;
  justify-self: center;
  gap: 3rem;
}

.navBarMenu li {
  list-style-type: none;
}

.menuLink {
  display: inline-block;
  width: max-content;
  font-weight: 500;
  text-decoration: none;
  color: currentColor;
  transition:
    color .2s ease,
    border .2s ease;

  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--highlight-color);
    transition: width .2s ease-out;
  }

  &:active {
    color: var(--highlight-color);

    &::after {
      width: 100%;
    }
  }

  @media (hover: hover) {
    &:hover {
      color: var(--highlight-color);

      &::after {
        width: 100%;
      }
    }
  }
}

.mobileGetStartedLink {
  display: inline-block;
}

@media (width >=640px) {
  .mobileGetStartedLink {
    display: none;
  }
}
