:root {
  --background: #ffffff;
  --foreground: #171717;

  --frame-background: #1b1b1b;
  --frame-foreground: #ededed;

  --title-color: #000;

  /* Pallete */
  --primary-base-color: #00451f;
  --secondary-base-color: #007334;
  --brand-color: #00a349;
  --highlight-color: #00db63;
  --hover-color: #01ff72;

  --hover-button: #f0f0f0;

  --frame-width: 24px;
  --frame-small-width: calc(var(--frame-width) / 2);
  --frame-padding: var(--frame-width) var(--frame-small-width) var(--frame-small-width) var(--frame-small-width);
  --frame-round: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #ededed;

    --frame-background: #fff;
    --frame-foreground: #000;
    
    --title-color: #fff;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
  padding: var(--page-padding);
  overflow: hidden;

  background-color: var(--background);
  color: var(--foreground);
}

button {
  all: unset;
  cursor: pointer;

  &:has(svg) {
    line-height: 0;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--hover-button);
    }
  }
}
