:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Pallet */
  --primary-base-color: #00451f;
  --secondary-base-color: #007334;
  --brand-color: #00a349;
  --highlight-color: #00db63;
  --hover-color: #01ff72;

  --title-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #ededed;

    --title-color: #fff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
